*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 12px;
}

body {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: hsla(180, 100%, 50%, 0.5);
    font-family: sans-serif;
    display: grid;
    place-items: center;
}
h2 {
    margin: 0.5em;
    font-size: 2rem;
    justify-self: center;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100px;
    background: transparent;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    &:focus {
        outline: none;
    }

    &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
}




.knob {
    &__container {
        width: 100px;
        height: 100px;
        display: grid;
        place-items: center;
        position: relative;
    }

    &__label {
        position: absolute;
        top: -25px;
        white-space: nowrap;
        display: grid;
        justify-items: center;

        &--two-line {
            top: -35px;
        }
    }
}

.switch {
    display: grid;
    place-items: center;
    position: relative;

    &__container {
        overflow: visible;
        display: grid;
        justify-items: center;
        position: relative;

        &--on {
            width: 100%;
            height: 83px;
            display: grid;
            place-items: center;
            position: relative;

            &::after {
                content: "ON";
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    
    &--vertical {
        transform: rotate(-90deg);
    }
    &__label {
        width: 120px;
        background-color: black;
        position: absolute;
        display: grid;
        justify-items: center;
        top: -33px;

        &--two-line {
            top: -50px;
        }
        
        &--vertical {
            width: 70px;
            top: -60px;

            &--two-line {
                top: -75px;
            }

            &--bottom {
                top: 63px;
            }
        }
        
        &--split {
            top: unset;
            bottom: -37px;
            display: flex;
            justify-content: space-between;
        }
    }

    &::-moz-range-thumb {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: silver;
        border: 1px solid #000000;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        cursor: pointer;
    }

    &::-moz-range-track {
        width: 100px;
        height: 50px;
        border-radius: 50px;
        background: #494e52;
        border: 0.2px solid #010101;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        cursor: pointer;
    }
}




.control-surface {
    background-color: silver;
    display: grid;
    grid-template-areas: 
        "controllers    osc-bank    mixer       modifiers   output"
        "pitch-mod      keyboard    keyboard    keyboard    keyboard";
    gap: 0.15rem;

    &__label {
        position: absolute;
        bottom: 0;

        &--top {
            justify-self: center;
            position: absolute;
            top: 5px;
        }
    }
}

.controllers {
    width: 350px;
    height: 600px;
    padding: 50px 50px 0 25px;
    background-color: black;
    grid-area: controllers;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        ".                  ."
        "tune               tune"
        "glide              mod-mix"
        "osc-filter-switch  noise-lfo-switch"
        "label              label";
    place-items: center;
    position: relative;

    &__tune {
        grid-area: tune;
    }

    &__glide {
        grid-area: glide;
    }

    &__mod-mix {
        grid-area: mod-mix;
    }

    &__osc-filter-switch {
        grid-area: osc-filter-switch;
    }

    &__noise-lfo-switch {
        grid-area: noise-lfo-switch;
        position: relative;

        &__label {
            font-size: 0.75rem;
            position: absolute;
            bottom: -32px;
            left: -5px;

            &--right {
                left: 75px;
            }
        }
    }
}

.osc-bank {
    width: 500px;
    height: 600px;
    padding: 25px 50px 0 75px;
    background-color: black;
    grid-area: osc-bank;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-template-areas:
        "osc-one-range      osc-one-label        osc-one-waveform"
        "osc-two-range      osc-two-freq        osc-two-waveform"
        "osc-three-range    osc-three-freq     osc-three-waveform"
        "label              label               label";
    place-items: center;
    position: relative;

    &__osc-one-range {
        grid-area: osc-one-range;
    }

    &__osc-one-waveform {
        grid-area: osc-one-waveform;
    }

    &__osc-two-range {
        grid-area: osc-two-range;
    }

    &__osc-two-freq {
        grid-area: osc-two-freq;
    }

    &__osc-two-waveform {
        grid-area: osc-two-waveform;
    }

    &__osc-three-range {
        grid-area: osc-three-range;
    }

    &__osc-three-freq {
        grid-area: osc-three-freq;
    }

    &__osc-three-waveform {
        grid-area: osc-three-waveform;
    }

    &__osc-mod {
        position: absolute;
        top: 200px;
        left: -50px;
    }

    &__osc-three-control-switch {
        position: absolute;
        top: 425px;
        left: -5px;
    }

    &__label {
        display: grid;
        justify-items: center;
        align-content: flex-start;
        
        &__container {
            height: 100%;
            grid-area: osc-one-label;
        }
    }
}
.mixer {
    width: 600px;
    height: 600px;
    padding: 25px 50px 0 50px;
    background-color: black;
    grid-area: mixer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 2fr) 1fr;
    grid-template-areas: 
        "osc-one-vol    switch  ext-input-vol   ."
        "osc-two-vol    switch  noise-vol       overload"
        "osc-three-vol  switch  .               white-pink-switch"
        "label          label   label           label";
    gap: 1rem;
    justify-items: center;
    align-items: center;
    position: relative;

    &__osc-one-vol {
        grid-area: osc-one-vol;
    }

    &__ext-input-vol {
        grid-area: ext-input-vol;
        position: relative;
        bottom: -83px;
    }

    &__osc-two-vol {
        grid-area: osc-two-vol;
    }

    &__noise-vol {
        grid-area: noise-vol;
        position: relative;
        bottom: -83px;
    }

    &__osc-three-vol {
        grid-area: osc-three-vol;
    }

    &__switches {
        height: 85%;
        grid-area: switch;
        display: grid;
        align-content: space-around;
    }

    &__overload {
        grid-area: overload;
    }

    &__white-pink-switch {
        grid-area: white-pink-switch;
    }
}

.modifiers {
    width: 500px;
    height: 600px;
    grid-area: modifiers;
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    gap: 0.15rem;

    &__filter {
        padding: 50px 0 0 75px;
        background-color: black;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        position: relative;

        &__switches {
            height: 200px;
            display: grid;
            align-content: space-between;
            position: absolute;
            top: 75px;
            left: -50px;

        }
    }

    &__loudness-contour {
        padding: 50px 0 0 75px;
        background-color: black;
        display: grid;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
    }
}
.output {
    width: 250px;
    height: 600px;
    background-color: black;
    grid-area: output;
    display: grid;
    place-items: center;
    position: relative;
}
.pitch-mod {
    width: 350px;
    height: 600px;
    background-color: black;
    grid-area: pitch-mod;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "lfo-rate   switches"
        ".          pitch-mod";

    &__lfo-rate {
        grid-area: lfo-rate;
        place-self: center;
    }

    &__switches {
        display: grid;
        justify-content: center;
        align-content: space-around;
        grid-area: switches;
    }

    &__glide-switch {
        display: grid;
        justify-items: center;
        position: relative;
    }

    &__decay-switch {
        display: grid;
        justify-items: center;
        position: relative;
    }

    &__wheels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-content: center;
        grid-area: pitch-mod;
    }

    &__pitch-wheel {
        height: 350px;
        display: grid;
        place-content: center;
        overflow: hidden;

        &__label {
            justify-self: center;
            position: absolute;
            bottom: 170px;
        }
    }
    
    &__mod-wheel {
        height: 350px;
        display: grid;
        place-content: center;
        overflow: hidden;

        &__label {
            justify-self: center;
            position: absolute;
            bottom: 170px;
        }
    }
}

.keyboard {
    width: 100%;
    height: 600px;
    background-color: darkslategray;
    grid-area: keyboard;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    gap: 3px;
}
.key {
    width: auto;
    height: auto;
    background-color: ivory;
}



#pitch-wheel {
    width: 300px;
    height: 50px;
    background-color: tan;
    transform: rotate(-90deg);
}

#mod-wheel {
    width: 300px;
    height: 50px;
    background-color: tan;
    transform: rotate(-90deg);
}