*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsla(180, 100%, 50%, 0.5);
    font-family: courier;
    display: grid;
    place-items: center;
}

.container {
    width: 90vw;
    height: 60vh;
    background-color: darkslategray;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
}
.octave {
    display: inline-block;
}
.key {
    width: 100px;
    height: 60vh;
    margin: 0 3px 0 0;
    background-color: ivory;
    display: inline-block;
}